.cardWrapper {
    border-radius: 16px;
    width: 100%;
    cursor: pointer;
    border: 1px solid transparent;
}
.cardWrapperActive {
    background: linear-gradient(#16151a, #16151a) padding-box,
        linear-gradient(94.25deg, #ff8473 3.46%, #b784ff 49.4%, #2eb0fb 97.06%)
            border-box;
    border: 1px solid transparent;
    border-radius: 12px;
}

.cardWrapperGradient {
    position: relative;
}

.cardWrapperGradient::before {
    content: '';
    width: 100%;
    position: absolute;
    inset: 0;
    bottom: 0px;
    top: -12px;
    padding: 1px;
    background: linear-gradient(
        94.25deg,
        #ff8473 3.46%,
        #b784ff 49.4%,
        #2eb0fb 97.06%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.card {
    padding: 16px;
}
.sidewrap {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.cardHeader .cardTitle {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    flex: 1;
    width: 100%;
    white-space: pre-line;
    word-break: break-all;
}
.cardInfo {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.cardHeader .timeWrap {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.cardHeader {
    display: flex;
    gap: 8px;
}

.optionsBox {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.cardTitleImage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex: 1;
    flex-direction: column;
}

.cardTitleImage > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #fff;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardBody > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

    color: #ffffff80;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardInfoWrapper {
    border-radius: 8px;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(180deg, #191920 0%, #1c1b21 100%);
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.cardTextInfoWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cardTextInfoWrapper > * {
    color: #ffffffb2;
}

.cardFooter {
    width: 50%;
    margin: 0.5rem auto;
}
.cardActions {
    font-size: 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
