.innerWidth {
    width: 350px;
}

@media only screen and (max-width: 767px) {
    .innerWidth {
        width: 300px;
    }
}
.mainModalGroup {
    width: 100%;
    margin-top: 24px;
}
.mainModalGroup :global .ant-input-affix-wrapper .ant-input-suffix svg {
    fill: rgba(255, 255, 255, 0.4);
    width: 20px;
    height: 20px;
}
.mainModalGroup :global .ant-input-affix-wrapper:hover,
.mainModalGroup :global .ant-input-status-error:not(.ant-input-disabled):hover,
.mainModalGroup
    :global
    .ant-input-status-error:not(.ant-input-disabled):focus-within,
.mainModalGroup :global .ant-input-status-error:not(.ant-input-disabled) {
    background: transparent;
    border: 1px solid #3f4147;
    box-shadow: none;
}
.mainModalGroup :global .ant-input-affix-wrapper .ant-input::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.mainModalGroup :global .ant-input-affix-wrapper .ant-input {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.mainModalGroup .modalMainWrapper .btnWrap {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.mainModalGroup .modalMainWrapper .btnWrap :global .twincitiButton {
    max-width: 360px;
    width: 100%;
    margin: 24px auto 0 !important;
}
.mainModalGroup .modalMainWrapper .btnWrapEle :global .twincitiButton {
    width: 100%;
    border-radius: 10px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    background-image: linear-gradient(#121316, #121316),
        linear-gradient(65deg, #ff8473 0%, #b784fd 75%, #2eb0fb 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
    flex-direction: column;
}
.mainModalGroup .btnWrap {
    display: flex;
    justify-content: flex-end;
}
.mainModalGroup .btnWrap :global .twincitiButton {
    border-radius: 10px;
    background: var(
        --Primary,
        linear-gradient(94deg, #ff8473 3.46%, #b784ff 49.4%, #2eb0fb 97.06%)
    );
    border: none;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin: 10px 0 10px;
    height: 48px;
    padding: 0 18px;
    transform: scale(1);
    transition: all 1s ease !important;
}

.mainModalGroup .btnWrap :global .twincitiButton:hover {
    border-radius: 10px;
    transform: scale(1.1);
    background: var(
        --Primary,
        linear-gradient(94deg, #ff8473 3.46%, #b784ff 49.4%, #2eb0fb 97.06%)
    );
}
