.buttonWrapper {
    width: 100%;
    border-radius: 14px;
    border: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttonPrimary {
    background: linear-gradient(94.25deg, rgba(255, 132, 115, 0.92) 3.46%, rgba(183, 132, 255, 0.92) 49.4%, rgba(46, 176, 251, 0.92) 97.06%);
    border-radius: 24px;
}

.buttonDark {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.0372203) 100%);
    border-radius: 24px;
    border: 0.5px solid #FFFFFF33
}

.buttonSecondary {
    opacity: 0px;
    background: #B784FF1A;
    border: 0.5px solid #B784FF66;
    color: #B784FF;
}

.buttonDefault {
    background: linear-gradient(94.25deg, rgba(255, 132, 115, 0.4) 3.46%, rgba(183, 132, 255, 0.4) 49.4%, rgba(46, 176, 251, 0.4) 97.06%);
    /* border: 0.5px solid; */
    border-image-source: linear-gradient(94.25deg, #FF8473 3.46%, #B784FF 49.4%, #2EB0FB 97.06%);
    border-radius: 1rem;
}
