@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: var(--background);
    margin: 0;
    font-family: var(--font-poppins) !important;
}

p {
    margin: 0;
}

:root {
    --button: #ab69ff;
    --background: #15161a;
    --container: rgba(59, 59, 59, 0.45);
    --text: white;
    --largerHeading: 40px;
    --largeHeading: 36px;
    --smallHeading: 28px;
    --largerSubheading: 20px;
    --largeSubheading: 15px;
    --smallSubheading: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #c4c4c4;
    transition: background-color 600000s 0s, color 600000s 0s;
}
.ant-input-outlined {
    background: transparent !important;
    color: #c4c4c4 !important;
    font-family: var(--font-poppins) !important;
}
.ant-input {
    background: transparent !important;
    color: #c4c4c4 !important;
    font-family: var(--font-poppins) !important;
}
.ant-input::placeholder {
    color: #c4c4c4 !important;
}
.anticon.ant-input-password-icon {
    color: #c4c4c4 !important ;
    font-size: 18px !important;
    font-family: var(--font-poppins) !important;
}
.chatOuterContainer {
    display: flex;
    padding-top: 40px;
    margin-bottom: 20px;
}

.authHeading {
    color: #f7fbff;
    font-size: var(--largerHeading);
    font-family: var(--font-poppins) !important;

    font-weight: 600;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.48px;
}

.authSubheading {
    color: #c4c4c4;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-poppins) !important;

    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 140%;
}

.authFormContainer {
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

.ant-modal .ant-modal-content {
    border-radius: 16px;
    border: 0.841px solid #afafaf;
    background: var(--background);
    color: white;
    backdrop-filter: blur(22.295413970947266px);
    width: 100%;
}
.ant-modal-body {
    display: flex;
    justify-content: center;
}

.ant-modal .ant-modal-close-x {
    font-size: 26px;
    font-family: var(--font-poppins) !important;

    color: white;
}

.ant-modal .ant-modal-title {
    background-color: var(--background);
    color: #f7fbff;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-poppins) !important;

    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.24px;
}
.ant-checkbox .ant-checkbox-inner {
    width: 20px !important;
    height: 20px !important;
}
*:focus {
    outline: none !important;
}
@media only screen and (min-width: 1868px) and (max-width: 2200px) {
    .authSubheading {
        font-size: var(--largerSubheading);
    }

    .authHeading {
        font-size: var(--largerHeading);
    }

    .forgotPassword {
        font-size: 18.3px !important;
    }
}

@media only screen and (min-width: 1585px) and (max-width: 1867px) {
    .authSubheading {
        font-size: var(--largeSubheading);
    }

    .authHeading {
        font-size: var(--largeHeading);
    }

    .forgotPassword {
        font-size: 15.3px;
    }
}

@media only screen and (min-width: 1275px) and (max-width: 1584px) {
    .authSubheading {
        font-size: var(--smallSubheading);
    }

    .authHeading {
        font-size: var(--smallHeading);
    }

    .forgotPassword {
        font-size: 14px;
    }

    .labelStyling {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1075px) and (max-width: 1274px) {
    .authSubheading {
        font-size: var(--smallSubheading);
    }

    .authHeading {
        font-size: var(--smallHeading);
    }

    .forgotPassword {
        font-size: 12px;
    }

    .labelStyling {
        font-size: 11px;
    }
}

@media only screen and (min-width: 875px) and (max-width: 1074px) {
    .authSubheading {
        font-size: var(--smallSubheading);
    }

    .authHeading {
        font-size: var(--smallHeading);
    }

    .forgotPassword {
        font-size: 11px;
    }

    .labelStyling {
        font-size: 10px;
    }
}

@media only screen and (min-width: 505px) and (max-width: 874px) {
    .authSubheading {
        font-size: 14px;
    }

    .authHeading {
        font-size: 24px;
    }

    .forgotPassword {
        font-size: 11px;
        letter-spacing: 1px;
    }

    .ant-form-item .ant-form-item-explain-error {
        font-size: 10px;
    }

    .labelStyling {
        font-size: 10px;
    }

    .termOfService {
        font-size: 11px;
    }

    .ant-form-item .ant-form-item-control-input {
        min-height: 4px;
    }
}

@media only screen and (min-width: 305px) and (max-width: 504px) {
    .authSubheading {
        font-size: 12px;
    }

    .authHeading {
        font-size: 18px;
    }

    .forgotPassword {
        font-size: 12px;
    }

    .labelStyling {
        font-size: 12px;
    }

    .termOfService {
        font-size: 12px;
    }

    .ant-form-item .ant-form-item-explain-error {
        font-size: 12px;
    }

    .ant-form-item .ant-form-item-control-input {
        min-height: 4px;
    }

    .ant-checkbox .ant-checkbox-inner {
        width: 13px;
        height: 13px;
    }
}

.ant-layout-sider-children {
    background: #2b2d31 !important;
}

::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-track {
    background: black !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(43, 45, 49) !important;
}

.ant-input-affix-wrapper:hover {
    border-color: rgba(118, 118, 118, 1) !important;
    box-shadow: 0 0 0 0.5px rgba(118, 118, 118, 1);
}
.ant-input-affix-wrapper:focus-within {
    border-color: rgba(118, 118, 118, 1) !important;
    box-shadow: 0 0 0 0.5px rgba(118, 118, 118, 1);
}

.ant-input:hover,
.ant-input:focus,
.ant-input:focus-within {
    border-color: rgba(118, 118, 118, 1) !important;
}

.ant-btn-primary {
    box-shadow: none !important;
}
.ant-btn {
    transition: none !important;
}
a:hover {
    color: rgba(171, 105, 255, 1) !important;
}

.ant-switch {
    background: rgba(171, 105, 255, 1) !important;
}

.ant-menu-item {
    color: #fff;
    font-size: 16px;
}

.ant-menu-item-divider {
    background: #ffffff61;
}

.ant-menu-item.ant-menu-item-active.ant-menu-item-selected.ant-menu-item-only-child {
    background-color: transparent;
}

.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
    background-color: transparent;
    border-left: 3px solid #ab69ff;
    border-radius: 0px;
    color: rgba(255, 255, 255, 1) !important;
    font-family: var(--font-poppins) !important;
    font-weight: 500;
}
.ant-menu-vertical .ant-menu-item {
    margin-left: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
    border-left: 3px solid transparent;
    color: rgba(255, 255, 255, 0.6) !important;
    font-family: var(--font-poppins) !important;
    font-weight: 400;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
    color: #fff;
    /* font-size: 20px; */
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: #ab69ff;
    border-color: #ab69ff;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: #ab69ff;
}
