.inputFieldMention {
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 24.167px;
    color: #c4c4c4;
    height: 50px;
    border-radius: 8px;
    border-radius: 12px;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.06) 0%,
        rgba(255, 255, 255, 0.04) 100%
    );
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    max-height: 300px;
    padding: 0 16px;
    width: 100%;
    line-break: anywhere;
}
.activeInputBorder {
    background: linear-gradient(#16151a, #16151a) padding-box,
        linear-gradient(94.25deg, #ff8473 3.46%, #b784ff 49.4%, #2eb0fb 97.06%)
            border-box;
    border: 1px solid transparent;
    border-radius: 12px;
}
.inputFieldMention textarea:focus-visible {
    outline: none;
}
